.git
.settings
.gradle
bin
build
eclipse
psds
.project
run
techne
banktexture.png
blanktexture.png
/knowledge
/abilities
/ability
/specialisations
/src/main/java/com/ollieread/technomagi/knowledge/old